body {
	font-family: 'Montserrat', sans-serif;
	color: #282828;
}

header {
	background-color: #282828;
	color: #F5F5F5;
}

nav ul {
	list-style-type: none;
	padding: 25px;
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 10px;
	margin: 0;
}

nav ul li {
	cursor: pointer;
}

.align-right {
	margin-left: auto;
}

.logo {
	font-size: 18px;
	font-weight: 700;
}

.icon {
	width: 25px;
}

section h1 {
	font-size: 40px;
	font-weight: 400;
	margin: 30px 25px;
}

.caption {
	margin: 0px 25px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 20px;
}

.item-img {
	display: block;
	width: 100%;
}

.item {
	position: relative;
}

.img-banner {
	color: #F5F5F5;
	background-color: #cd6858;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
}

.btn {
	color: #F5F5F5;
	background-color: #cd6858;
	border: none;
	padding: 10px 15px;
	font-weight: 700;
	cursor: pointer;
	align-self: center;
}
